<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpf4F7mPDRY8Uy4BAOw-Lr2kThlB9R-5k</string>
	<key>GCM_SENDER_ID</key>
	<string>51738482114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication0</string>
	<key>PROJECT_ID</key>
	<string>foodbuddy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>foodbuddy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51738482114:ios:6d5bc4a767c613b49ab25b</string>
</dict>
</plist>